html {
  font-size: 10px; /* px 表示“像素（pixel）”: 基础字号为 10 像素 */
  font-family: "Noto Sans", Arial, sans-serif; /* 这应该是你从 Google Fonts 得到的其余输出。 */
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-size: 60px;
  margin: 0;
  padding: 20px 0;
  color: #ffffff;
  text-shadow: 0px 3px 10px black;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 16px;
}

p,
li,
a,
button {
  font-size: 32px;
  line-height: 2;
  letter-spacing: 1px;
  background-color: #ffffff;
  border: 5px solid black;
  margin-bottom: 5px;
}

button {
  font-size: 32px;
  color: rgb(30, 0, 255);
  margin: auto;
}

html {
  background-color: #ffffff;
}

body {
  width: 1200px;
  margin: 0 auto;
  background-color: #f6f45d;
  padding: 0 20px 20px 20px;
  border: 10px solid black;
}

img {
  width: 1200px;
  display: block;
  margin: 0 auto;
}
